In [1]:
import pandas as pd

In [2]:
en_use = pd.read_excel('energy_use.xlsx')
en_use

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Australia,2545.70,2554.74,2553.62,2654.80,2722.53,2747.80,2742.13,2825.95,2869.14,...,2961.95,2979.52,3004.93,2981.00,3011.86,2994.78,3018.78,2972.57,2865.07,2905.00
1,Austria,920.70,936.06,940.63,956.21,967.52,990.48,1007.78,1008.47,1022.81,...,1006.74,1004.97,999.84,1012.80,1032.00,1045.00,1035.76,1051.16,NaN,NaN
2,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1265.67,1297.61,1266.16,1286.74,1301.22,1302.71,1325.73,1310.03,1223.16,NaN
3,Canada,6900.56,6717.35,6852.97,6936.26,7148.62,7122.34,7014.51,7194.16,7083.88,...,7071.14,7171.57,7143.57,7101.17,7046.77,7277.22,7461.01,7442.03,6801.36,NaN
4,Czech Republic,1048.29,1057.30,1041.65,1087.11,1108.90,1089.18,1105.63,1096.24,1085.20,...,991.52,985.25,997.19,1009.74,1029.65,1058.24,1073.53,1059.84,1042.09,NaN
5,Denmark,560.18,558.21,560.45,564.43,560.83,565.28,583.08,587.86,580.26,...,528.20,522.70,526.03,527.46,535.75,539.06,543.21,529.89,NaN,NaN
6,Finland,982.35,980.93,1010.13,1023.19,1039.52,1010.29,1061.96,1057.05,1024.30,...,988.85,986.85,976.62,970.22,994.66,1000.75,1012.20,992.74,946.95,995.11
7,France,5865.09,5992.48,5995.41,6011.50,5966.83,5948.92,5927.61,5854.91,5809.88,...,5717.01,5695.66,5493.00,5508.79,5523.62,5525.37,5530.70,5402.05,5043.38,NaN
8,Germany,8768.07,8819.01,8725.80,8782.09,8669.33,8594.38,8728.60,8465.64,8803.03,...,8457.25,8498.00,8455.59,8375.97,8459.63,8531.67,8360.81,8365.29,8054.65,NaN
9,Greece,688.01,711.24,732.78,758.47,771.22,776.35,782.94,823.18,798.51,...,612.44,577.51,582.43,599.56,607.77,584.23,578.91,582.73,NaN,NaN
10,Hungary,714.42,719.91,733.15,732.80,739.88,753.81,766.30,743.42,744.79,...,671.93,680.55,694.57,719.48,723.41,748.35,766.90,775.14,747.81,776.70
11,Italy,4939.81,4986.24,5017.74,5196.85,5241.95,5301.12,5309.24,5309.37,5254.97,...,4746.51,4611.86,4546.40,4569.57,4570.89,4473.51,4563.92,4462.46,4073.18,NaN
12,Japan,12963.41,12898.35,12949.54,12860.56,12876.68,12741.80,12756.68,12637.05,11934.76,...,11664.17,11551.75,11287.61,11131.73,11072.02,11077.52,10995.30,10762.39,10146.10,10351.67
13,Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5196.51,5223.62,5347.13,5418.57,5502.39,5521.20,5556.75,5531.18,5365.58,5502.75
14,Lithuania,158.35,158.69,167.48,169.63,176.98,187.72,199.21,211.75,210.39,...,194.73,191.73,196.44,197.81,203.95,214.34,222.85,226.95,NaN,NaN
15,Netherlands,2019.05,2031.56,2036.76,2048.18,2071.17,2057.60,2035.49,2020.52,2012.21,...,1949.86,1931.11,1857.62,1864.57,1906.50,1918.37,1930.81,1898.19,NaN,NaN
16,New Zealand,698.87,724.02,768.51,790.47,817.03,808.57,815.26,834.80,815.02,...,788.32,784.49,807.85,829.54,842.78,876.18,876.63,898.40,775.07,NaN
17,Poland,2203.42,2145.77,2153.02,2168.13,2246.04,2242.33,2367.08,2426.51,2469.22,...,2470.55,2431.48,2438.96,2440.78,2579.88,2745.61,2947.34,2928.34,2817.55,NaN
18,Portugal,703.53,712.08,728.61,703.72,702.10,712.60,704.60,711.56,687.06,...,591.62,582.81,588.65,595.58,590.94,607.54,609.64,616.81,582.61,NaN
19,Slovak Republic,435.06,452.14,464.61,445.41,433.90,414.65,419.79,409.75,417.32,...,388.09,401.82,392.84,395.00,397.55,413.45,420.55,429.80,NaN,NaN
20,Spain,3155.86,3307.18,3381.09,3594.33,3707.41,3784.33,3733.78,3795.61,3667.75,...,3160.80,3045.74,3046.60,3108.59,3129.32,3245.87,3284.80,3285.04,NaN,NaN
21,Switzerland,714.13,726.16,718.80,730.16,732.23,732.67,742.72,719.58,733.63,...,723.61,733.41,700.31,704.79,707.77,702.52,693.43,684.81,NaN,NaN
22,United Kingdom,5929.31,5806.36,5747.11,5659.26,5673.01,5627.81,5541.37,5487.19,5319.66,...,4842.44,4881.17,4840.15,4790.81,4848.46,4911.06,4881.88,4811.89,4475.11,NaN
23,United States,57739.89,57124.17,57043.65,57868.70,59122.87,57546.17,56615.77,56911.45,55207.25,...,52575.19,53826.25,55367.06,55396.30,54460.04,54939.22,56461.94,57239.83,50234.83,NaN
24,IEA,130477.29,129187.23,130202.38,131662.32,133544.20,132210.02,131098.03,132133.16,129867.60,...,123541.30,125520.08,127319.27,126446.08,125670.04,126801.21,129276.16,129500.30,118524.65,122842.49
25,Brazil,NaN,NaN,NaN,NaN,NaN,6527.00,6714.51,7125.30,7368.31,...,8384.39,8536.72,8691.05,8555.05,8430.44,8616.09,8497.72,8571.69,8447.82,NaN
26,Slovenia,176.47,183.02,184.14,185.48,191.11,196.04,199.89,199.68,201.21,...,185.25,184.11,183.97,186.49,191.12,194.31,197.99,195.39,NaN,NaN

In [3]:
en_use = en_use.melt(id_vars = 'Country', var_name = 'Year', value_name = 'energy_use')

In [4]:
en_use

            Country  Year  energy_use
0         Australia  2000     2545.70
1           Austria  2000      920.70
2           Belgium  2000         NaN
3            Canada  2000     6900.56
4    Czech Republic  2000     1048.29
..              ...   ...         ...
589  United Kingdom  2021         NaN
590   United States  2021         NaN
591             IEA  2021   122842.49
592          Brazil  2021         NaN
593        Slovenia  2021         NaN

[594 rows x 3 columns]

In [5]:
en_use.to_csv('en_use.csv', index=False)