In [1]:
import pandas as pd
import numpy as np

In [2]:
ghg = pd.read_excel("GHG.xlsx")

In [3]:
ghg

,Страна,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Китай,"2 204,6","2 317,8","2 411,0","2 617,5","2 714,5","3 018,0","2 982,0","3 041,0","3 131,2",...,"9 341,5","9 352,4","9 248,0","9 226,7","9 441,0","9 888,4","10 041,9","10 190,6",NaN,NaN
1,Бразилия,194.2,201.2,205.6,212.7,220.5,237.8,256.4,274,281.9,...,473.4,498.2,474,437.9,450.1,428.2,428.1,405.9,456.7,NaN
2,Индия,568.1,610,634.2,660.2,695.3,744.8,778.9,820.8,836.9,...,"1 917,2","2 085,0","2 094,1","2 126,6","2 245,3","2 378,3","2 339,3","2 135,2",NaN,NaN
3,Россия,"2 184,0","2 155,7","1 977,0","1 816,0","1 609,6","1 560,5","1 533,0","1 425,5","1 416,8",...,"1 578,5","1 561,7","1 543,5","1 519,9","1 547,3","1 612,7","1 652,1","1 562,9","1 713,4",NaN
4,ЮАР,248.6,243.5,240.2,248,253.4,265.1,274.9,289.5,297.4,...,438.3,449.3,425.3,425.4,436.1,439.9,446.5,393.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Бангладеш,14,13.3,14.3,15.1,16.1,19.2,19.3,21.5,21.7,...,65.7,69,75.5,83.5,90,98.1,94.6,87.5,NaN,NaN
173,Вьетнам,21.1,20.9,21.6,25.3,27.4,31.4,34.9,40.6,44.5,...,137.8,151.9,169,187.2,189,239.1,287.8,297.5,NaN,NaN
174,Мьянма,7,6.8,7.2,7.7,8.6,9.9,10.2,10.2,11,...,17.1,20.5,22.7,24.9,34.6,34.5,35.3,34.9,NaN,NaN
175,Австралия,263,264.5,268.5,272.6,278.6,289,299,307,326.7,...,388,378.2,384.9,394.9,397.3,395.9,393.8,378.4,382.7,NaN
176,норвегия,28,26.5,29.4,31.1,32.7,32,33,34.7,36.4,...,38.6,38.8,39.5,38.8,38.6,38.1,37.2,35.7,40.3,NaN

In [4]:
ghg.dropna(thresh=20, inplace=True)

In [5]:
ghg

,Страна,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Китай,"2 204,6","2 317,8","2 411,0","2 617,5","2 714,5","3 018,0","2 982,0","3 041,0","3 131,2",...,"9 341,5","9 352,4","9 248,0","9 226,7","9 441,0","9 888,4","10 041,9","10 190,6",NaN,NaN
1,Бразилия,194.2,201.2,205.6,212.7,220.5,237.8,256.4,274,281.9,...,473.4,498.2,474,437.9,450.1,428.2,428.1,405.9,456.7,NaN
2,Индия,568.1,610,634.2,660.2,695.3,744.8,778.9,820.8,836.9,...,"1 917,2","2 085,0","2 094,1","2 126,6","2 245,3","2 378,3","2 339,3","2 135,2",NaN,NaN
3,Россия,"2 184,0","2 155,7","1 977,0","1 816,0","1 609,6","1 560,5","1 533,0","1 425,5","1 416,8",...,"1 578,5","1 561,7","1 543,5","1 519,9","1 547,3","1 612,7","1 652,1","1 562,9","1 713,4",NaN
4,ЮАР,248.6,243.5,240.2,248,253.4,265.1,274.9,289.5,297.4,...,438.3,449.3,425.3,425.4,436.1,439.9,446.5,393.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,Бангладеш,14,13.3,14.3,15.1,16.1,19.2,19.3,21.5,21.7,...,65.7,69,75.5,83.5,90,98.1,94.6,87.5,NaN,NaN
173,Вьетнам,21.1,20.9,21.6,25.3,27.4,31.4,34.9,40.6,44.5,...,137.8,151.9,169,187.2,189,239.1,287.8,297.5,NaN,NaN
174,Мьянма,7,6.8,7.2,7.7,8.6,9.9,10.2,10.2,11,...,17.1,20.5,22.7,24.9,34.6,34.5,35.3,34.9,NaN,NaN
175,Австралия,263,264.5,268.5,272.6,278.6,289,299,307,326.7,...,388,378.2,384.9,394.9,397.3,395.9,393.8,378.4,382.7,NaN
176,норвегия,28,26.5,29.4,31.1,32.7,32,33,34.7,36.4,...,38.6,38.8,39.5,38.8,38.6,38.1,37.2,35.7,40.3,NaN

In [6]:
ghg_nums = ghg.iloc[:, 1:]
ghg_nums.dtypes

1990     object
1991     object
1992     object
1993     object
1994     object
1995     object
1996     object
1997     object
1998     object
1999     object
2000     object
2001     object
2002     object
2003     object
2004     object
2005     object
2006     object
2007     object
2008     object
2009     object
2010     object
2011     object
2012     object
2013     object
2014     object
2015     object
2016     object
2017     object
2018     object
2019     object
2020     object
2021     object
2022    float64
dtype: object

In [7]:
for i in ghg_nums.columns.tolist():
    ghg_nums[i] = ghg_nums[i].replace(',', '.', regex=True)
    ghg_nums[i] = ghg_nums[i].replace(' ', '', regex=True)
    ghg_nums[i] = ghg_nums[i].replace('-', np.NaN, regex=True)
    ghg_nums[i] = ghg_nums[i].astype('float64')
ghg_nums.dtypes

1990    float64
1991    float64
1992    float64
1993    float64
1994    float64
1995    float64
1996    float64
1997    float64
1998    float64
1999    float64
2000    float64
2001    float64
2002    float64
2003    float64
2004    float64
2005    float64
2006    float64
2007    float64
2008    float64
2009    float64
2010    float64
2011    float64
2012    float64
2013    float64
2014    float64
2015    float64
2016    float64
2017    float64
2018    float64
2019    float64
2020    float64
2021    float64
2022    float64
dtype: object

In [8]:
ghg_nums.mean(numeric_only=True)

1990    150.046212
1991    149.509774
1992    147.404478
1993    148.076866
1994    148.366418
1995    151.046667
1996    153.958519
1997    156.548148
1998    157.873333
1999    158.294074
2000    160.430657
2001    163.022628
2002    165.224088
2003    172.627737
2004    180.481022
2005    187.065693
2006    193.014599
2007    200.202190
2008    201.674453
2009    198.835766
2010    211.141606
2011    217.526277
2012    220.458394
2013    224.975182
2014    225.380292
2015    223.956204
2016    223.846715
2017    227.379562
2018    232.918248
2019    232.080292
2020    221.367153
2021    253.545455
2022           NaN
dtype: float64

In [9]:
ghg_nums.mean(axis=None, numeric_only=True)

188.3383715489003

In [10]:
ghg_nums.median(numeric_only=True)

1990    22.6
1991    20.9
1992    20.1
1993    16.8
1994    16.1
1995    16.9
1996    17.4
1997    18.1
1998    19.6
1999    18.3
2000    18.7
2001    20.7
2002    20.9
2003    21.2
2004    22.5
2005    24.3
2006    25.7
2007    26.4
2008    25.7
2009    24.6
2010    25.6
2011    26.6
2012    27.9
2013    28.1
2014    29.1
2015    28.6
2016    26.6
2017    31.0
2018    31.5
2019    30.2
2020    28.1
2021    47.1
2022     NaN
dtype: float64

In [11]:
ghg_nums.std(numeric_only=True)

1990    514.655326
1991    513.083998
1992    513.694088
1993    524.349746
1994    528.896060
1995    541.678915
1996    551.527280
1997    570.603140
1998    577.016815
1999    575.983916
2000    591.670614
2001    595.862408
2002    596.239612
2003    626.894597
2004    665.875651
2005    703.324306
2006    730.995765
2007    767.833939
2008    770.991591
2009    780.463878
2010    841.256603
2011    884.913031
2012    896.124967
2013    931.062066
2014    933.875320
2015    921.387686
2016    916.388848
2017    931.088069
2018    971.648884
2019    976.489206
2020    966.456154
2021    659.164629
2022           NaN
dtype: float64

In [12]:
ghg_nums.min(numeric_only=True)

1990    0.1
1991    0.1
1992    0.1
1993    0.1
1994    0.1
1995    0.1
1996    0.1
1997    0.2
1998    0.2
1999    0.3
2000    0.4
2001    0.4
2002    0.6
2003    0.8
2004    0.8
2005    0.7
2006    0.6
2007    0.6
2008    0.6
2009    0.6
2010    0.6
2011    0.7
2012    0.7
2013    0.6
2014    0.7
2015    0.6
2016    0.7
2017    0.7
2018    0.7
2019    0.8
2020    0.8
2021    1.6
2022    NaN
dtype: float64

In [13]:
ghg_nums.max(numeric_only=True)

1990     4864.1
1991     4826.6
1992     4900.3
1993     5018.2
1994     5091.1
1995     5142.6
1996     5300.7
1997     5569.4
1998     5617.2
1999     5636.1
2000     5803.8
2001     5775.1
2002     5618.0
2003     5685.6
2004     5765.1
2005     5781.2
2006     6080.9
2007     6589.9
2008     6782.3
2009     7243.5
2010     7943.8
2011     8683.8
2012     8936.5
2013     9341.5
2014     9352.4
2015     9248.0
2016     9226.7
2017     9441.0
2018     9888.4
2019    10041.9
2020    10190.6
2021     4554.0
2022        NaN
dtype: float64

In [14]:
data_ghg_years = {'years' : ghg_nums.columns.tolist(),
                  'mean' : ghg_nums.mean(numeric_only=True).tolist(),
                  'median' : ghg_nums.median(numeric_only=True).tolist(),
                  'standard deviation' : ghg_nums.std(numeric_only=True).tolist(),
                  'minimum' : ghg_nums.min(numeric_only=True).tolist(),
                  'maximum' : ghg_nums.max(numeric_only=True).tolist()
                 }

In [15]:
ghg_years = pd.DataFrame(data=data_ghg_years)

In [16]:
ghg_years

    years        mean  median  standard deviation  minimum  maximum
0    1990  150.046212    22.6          514.655326      0.1   4864.1
1    1991  149.509774    20.9          513.083998      0.1   4826.6
2    1992  147.404478    20.1          513.694088      0.1   4900.3
3    1993  148.076866    16.8          524.349746      0.1   5018.2
4    1994  148.366418    16.1          528.896060      0.1   5091.1
5    1995  151.046667    16.9          541.678915      0.1   5142.6
6    1996  153.958519    17.4          551.527280      0.1   5300.7
7    1997  156.548148    18.1          570.603140      0.2   5569.4
8    1998  157.873333    19.6          577.016815      0.2   5617.2
9    1999  158.294074    18.3          575.983916      0.3   5636.1
10   2000  160.430657    18.7          591.670614      0.4   5803.8
11   2001  163.022628    20.7          595.862408      0.4   5775.1
12   2002  165.224088    20.9          596.239612      0.6   5618.0
13   2003  172.627737    21.2          626.894597      0.8   5685.6
14   2004  180.481022    22.5          665.875651      0.8   5765.1
15   2005  187.065693    24.3          703.324306      0.7   5781.2
16   2006  193.014599    25.7          730.995765      0.6   6080.9
17   2007  200.202190    26.4          767.833939      0.6   6589.9
18   2008  201.674453    25.7          770.991591      0.6   6782.3
19   2009  198.835766    24.6          780.463878      0.6   7243.5
20   2010  211.141606    25.6          841.256603      0.6   7943.8
21   2011  217.526277    26.6          884.913031      0.7   8683.8
22   2012  220.458394    27.9          896.124967      0.7   8936.5
23   2013  224.975182    28.1          931.062066      0.6   9341.5
24   2014  225.380292    29.1          933.875320      0.7   9352.4
25   2015  223.956204    28.6          921.387686      0.6   9248.0
26   2016  223.846715    26.6          916.388848      0.7   9226.7
27   2017  227.379562    31.0          931.088069      0.7   9441.0
28   2018  232.918248    31.5          971.648884      0.7   9888.4
29   2019  232.080292    30.2          976.489206      0.8  10041.9
30   2020  221.367153    28.1          966.456154      0.8  10190.6
31   2021  253.545455    47.1          659.164629      1.6   4554.0
32   2022         NaN     NaN                 NaN      NaN      NaN

In [17]:
data_ghg_countries = {'country' : ghg['Страна'].tolist(),
                  'mean' : ghg_nums.mean(axis=1, numeric_only=True).tolist(),
                  'median' : ghg_nums.median(axis=1, numeric_only=True).tolist(),
                  'standard deviation' : ghg_nums.std(axis=1, numeric_only=True).tolist(),
                  'minimum' : ghg_nums.min(axis=1, numeric_only=True).tolist(),
                  'maximum' : ghg_nums.max(axis=1, numeric_only=True).tolist()
                 }

In [18]:
ghg_countries = pd.DataFrame(data=data_ghg_countries)

In [19]:
ghg_countries

       country         mean   median  standard deviation  minimum  maximum
0        Китай  5844.996774  5524.10         2931.488955   2204.6  10190.6
1     Бразилия   342.000000   328.95           90.663351    194.2    498.2
2        Индия  1331.238710  1121.00          598.161250    568.1   2378.3
3       Россия  1601.340625  1547.50          185.622572   1416.8   2184.0
4          ЮАР   355.451613   379.60           74.628948    240.2    449.3
..         ...          ...      ...                 ...      ...      ...
132  Бангладеш    43.941935    35.10           27.146918     13.3     98.1
133    Вьетнам   102.148387    84.40           76.977321     20.9    297.5
134     Мьянма    15.541935    12.30            8.610798      6.8     35.3
135  Австралия   351.378125   371.15           46.508991    263.0    397.3
136   норвегия    35.465625    36.25            3.449975     26.5     40.3

[137 rows x 6 columns]

In [23]:
data_ghg_overall = {'mean' : ghg_nums.mean(axis=None, numeric_only=True),
                  'median' : ghg_nums.median(axis=None, numeric_only=True),
                  'standard deviation' : ghg_nums.std(numeric_only=True).mean(),
                  'minimum' : ghg_nums.min(axis=None, numeric_only=True),
                  'maximum' : ghg_nums.max(axis=None, numeric_only=True)
                 }

In [27]:
ghg_overall = pd.DataFrame(data=data_ghg_overall, index=[0])

In [28]:
ghg_overall

         mean  median  standard deviation  minimum  maximum
0  188.338372    24.3          720.984285      0.1  10190.6

In [29]:
with pd.ExcelWriter('Descriptive_statistics_of_raw_data.xlsx') as writer:  
    ghg_years.to_excel(writer, sheet_name='ghg_years')
    ghg_countries.to_excel(writer, sheet_name='ghg_countries')
    ghg_overall.to_excel(writer, sheet_name='ghg_overall')